form {
  max-width: 500px;
  margin: 0px auto;
}
input {
  margin: 20px 10px;
  width: 90%;
  border: 0px;
  font-size: 18px;
  padding: 5px;
  box-shadow: 10px 10px 0px #6c5ce7;
}

button {
  border: 0px;
  padding: 10px;
  font-size: 18px;
  margin: 0px 5px;
}
